// =================================================== //
// SRC/APP/COMPONENTS/FOOTER/FOOTER.MODULE.SCSS
// =================================================== //




.cstmFooter {
    background-color: var(--cstm-secondary-color);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    position: relative;
    height: fit-content;
    min-height: 50vh;
    padding: var(--cstm-default-outer-space);
    width: 100vw;
}

.cstmFooterWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    justify-content: flex-end;

    height: 100%;
    width: 100%;

    img {
        height: auto;
        margin-bottom: 25px;
        width: 100%;
    }

    p {
        text-align: center;
    }

    .cstmIconsWrapper {
        display: flex;
        justify-content: space-evenly;
        gap: var(--cstm-default-inner-space);

        height: fit-content;
        width: fit-content;
    }

    .cstmNavigationWrapper {
        display: flex;
        justify-content: space-evenly;
        gap: var(--cstm-default-inner-space);

        height: fit-content;
        width: fit-content;
    }

    .cstmSloganWrapper {
        h2 {
            margin: unset;
        }

        h5 {
            margin: unset;
        }
    }
}