// =================================================== //
// SRC/APP/COMPONENTS/MAP/MAP.MODULE.SCSS
// =================================================== //



.ebMap {
    height: 100%;
    width: 100%;
}

.ebDynamicMap {
    height: 100%;
    width: 100%;
}