// =================================================== //
// SRC/APP/COMPONENTS/MAP/MAP.MODULE.SCSS
// =================================================== //



.cstmMap {
    height: 100%;
    width: 100%;
}

.cstmDynamicMap {
    height: 100%;
    width: 100%;
}