// =================================================== //
// SRC/APP/COMPONENTS/HEADER/HEADER.MODULE.SCSS
// =================================================== //




.cstmHeader {
    height: 75px;
    padding: var(--cstm-default-outer-space);
    position: absolute;
    width: 100vw;
    z-index: 1000;
}

.cstmButtonWrapper{
    border: 2px solid var(--cstm-primary-font-color);
    background-color: var(--cstm-primary-color);
    height: 45px;
    top: var(--cstm-default-outer-space);
    left: var(--cstm-default-outer-space);

    width: 45px;
    z-index: 1000;
}


/* LARGE SCREENS */
@media (min-width: 2560px) {
    .cstmButtonWrapper{
        height: 80px;
        width: 80px;
    }
}


@media (min-width: 3840px) {
    .cstmButtonWrapper{
        height: 100px;
        width: 100px;
    }
}


@media (min-width: 5120px) {
    .cstmButtonWrapper{
        height: 120px;
        width: 120px;
    }
}