// ============================================================================= //
// SRC/APP/[LOCALE]/PAGE.MODULE.SCSS
// ============================================================================= //




.cstmMain {
    background-color: var(--cstm-primary-color);

    display: flex;
    flex-direction: column;

    height: fit-content;
    min-height: 50vh;
    position: relative;
    width: 100%;    
}

.cstmContent {
    display: flex;
    flex-direction: column;
    gap: var(--cstm-default-inner-space);

    height: 100%;
    width: 100%;

    h1 {
        text-align: center;
    }

    img {
        height: auto;
        width: 100%;
    }
}