// ============================================================================= //
// SRC/APP/STYLES/BASE/_CLASSES.SCSS
// ============================================================================= //


.cstmNoOverflow {
    overflow: hidden;
}

.cstmNoHorizontalOverflow {
    overflow-x: hidden;
}

.cstmBackgroundColorPrimary {
    background-color: var(--cstm-primary-color);
}

.cstmBackgroundColorSecondary {
    background-color: var(--cstm-secondary-color);
}

.cstmTextAlignLeft {
    text-align: left;
}

.cstmTextAlignCenter {
    text-align: center;
}

.cstmTextAlignRight {
    text-align: right;
}