// ============================================================================= //
// SRC/APP/LAYOUTS/SUB_PAGES/SUB_PAGES.MODULE.SCSS
// ============================================================================= //




.cstmSubPagesLayout {
    height: 100%;
    width: 100%;
}

.cstmSubPagesLayoutWrapper {
    height: 100%;
    padding: 75px var(--cstm-default-outer-space);
    width: 100%;
}

.cstmSubPagesHeader {
    display: flex;
    justify-content: center;
    
    height: fit-content;
    margin-bottom: var(--cstm-default-outer-space);
    width: 100%;

    h1 {
        text-transform: uppercase;
    }
}

/* TABLET */
@media (min-width: 768px) {
    .cstmSubPagesLayoutWrapper {
        padding: 75px 10%;
    }
}


/* DESKTOP */
@media (min-width: 1024px) {
    .cstmSubPagesLayoutWrapper {
        padding: 75px 12%;
    }
}


@media (min-width: 1440px) {
    .cstmSubPagesLayoutWrapper {
        padding: 75px 15%;
    }
}


@media (min-width: 1920px) {
    .cstmSubPagesLayoutWrapper {
        padding: 75px 18%;
    }
}