// ============================================================================= //
// SRC/APP/STYLES/ABSTRACTS/_COLORS.SCSS
// ============================================================================= //




:root {
    --eb-primary-color: #313131;
    --eb-secondary-color: #740820;

    --eb-primary-font-color: #DFDFDF;
    --eb-link-color: tan;

    --eb-success-color: #28a745;
    --eb-error-color: #dc3545;
}