// ============================================================================= //
// SRC/APP/STYLES/ABSTRACTS/_COLORS.SCSS
// ============================================================================= //




:root {
    --cstm-primary-color: #313131;
    --cstm-secondary-color: #03098E;

    --cstm-primary-font-color: #DFDFDF;
    --cstm-link-color: tan;

    --cstm-success-color: #28a745;
    --cstm-error-color: #dc3545;
}