// ============================================================================= //
// SRC/APP/STYLES/ABSTRACTS/_VARIABLES.SCSS
// ============================================================================= //



// Default Settings //
:root {
    --cstm-default-font-size: 16px;

    --cstm-default-inner-space: 16px;
    --cstm-default-outer-space: 16px;

    --cstm-navbar-animation-time: 0.8s;
}


/* TABLET */
@media (min-width: 768px) {
    :root {
        --cstm-default-font-size: 18px;

        --cstm-default-inner-space: 18px;
        --cstm-default-outer-space: 18px;
    }
}


/* DESKTOP */
@media (min-width: 1200px) {
    :root {
        --cstm-default-font-size: 20px;

        --cstm-default-inner-space: 20px;
        --cstm-default-outer-space: 20px;
    }
}


@media (min-width: 1440px) {
    :root {
        --cstm-default-inner-space: 25px;
        --cstm-default-outer-space: 25px;
        
        --cstm-navbar-animation-time: 1s;
    }
}


/* LARGE SCREENS */
@media (min-width: 2560px) {
    :root {
        --cstm-default-font-size: 28px;
    }
}


@media (min-width: 3840px) {
    :root {
        --cstm-default-font-size: 36px;
    }
}


@media (min-width: 5120px) {
    :root {
        --cstm-default-font-size: 52px;
    }
}