// ============================================================================= //
// SRC/APP/COMPONENTS/CANVAS/CANVAS.MODULE.SCSS
// ============================================================================= //




.cstmCanvas{
    background-color: var(--cstm-primary-color);

    height: 100%;
    position: relative;
    width: 100%;
}

.cstmContent{
    height: 100%;
    position: relative;
    width: 100%;
    transition: transform var(--cstm-navbar-animation-time) ease;
}

.cstmNavbarActive{
    transform: translateX(calc(76% + var(--cstm-default-outer-space))) translateZ(0px);
    transition: transform var(--cstm-navbar-animation-time) ease;

    overflow: hidden;
}